{% extends 'base.html' %}

{% block title %}Login — Sayid's Restaurant{% endblock %}

{% block content %}

<div class="card p-4" style="max-width: 400px; margin: auto;">
    
    <h2 class="text-center fw-bold text-danger mb-4">Login</h2>

    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label>Username</label>
            <input type="text" class="form-control" name="username" placeholder="Enter username">
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter password">
        </div>

        <button type="submit" class="btn btn-danger w-100">
            Login
        </button>
    </form>

    <p class="text-center mt-3">
        No account? 
        <a href="/register/" class="text-danger">Register here</a>
    </p>

</div>

{% endblock %}