{% extends 'base.html' %}

{% block title %}Edit Order — Sayid's Restaurant{% endblock %}

{% block content %}

<h2 class="mb-4">Edit Order</h2>

<form method="POST" action="/edit/{{ order.pk }}/">
    {% csrf_token %}
    
    <div class="mb-3">
        <label>Customer Name</label>
        <input type="text" 
               class="form-control" 
               name="customer_name" 
               value="{{ order.customer_name }}">
    </div>

    <div class="mb-3">
        <label>Item</label>
        <select class="form-select" name="item">
            <option>🍔 Burger - $5</option>
            <option>🍕 Pizza - $8</option>
            <option>🍝 Pasta - $6</option>
            <option>🥤 Juice - $2</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Quantity</label>
        <input type="number" 
               class="form-control" 
               name="quantity" 
               value="{{ order.quantity }}">
    </div>

    <button type="submit" class="btn btn-danger">
        Save Changes ✅
    </button>
    <a href="/orders/" class="btn btn-dark">Cancel</a>
</form>

{% endblock %}